@import '../../sass/variables';

.primary-button {
  padding: 1.5rem 0;
  border-radius: 100rem;
  background-color: $color-primary;
  color: #FFF; 
  border: none;
  width: 100%;
  display: grid;
  place-items: center;
  font-size: $default-font-size;
  cursor: pointer;

  &:disabled {
    cursor: default;
  
    &:hover {
      background-color: $color-primary;
    }
  }

  &:hover {
    background-color: $color-primary--hover;
  }
}