@import '../../sass/variables';

.homepage-container {
  background-color: #eee;
  min-height: 100vh;
  display: flex;
}

.homepage-recipes {
  position: relative;
  padding: 0 7rem;
  width: 100%;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 7rem;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    padding: 2rem 0;
    margin-bottom: 3rem;

    &__icon {
      font-size: 2.4rem;
      color: #7C7C7C;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .add-recipe-btn {
    position: absolute;
    right: 7rem;
    bottom: 5rem;
  }
}