@import '../../sass/variables';
@import '../../sass/mixins';

.menubar {
  position: sticky;
  top: 0;
  width: 25rem;
  height: 100vh;
  background-color: $color-grey-light;
  display: flex;
  flex-direction: column;
  padding: 3rem .8rem 1rem 2rem;

  &__search {
    padding-right: 2rem;
    
    & input {
      background-color: #EDEBEB;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-between;
  }

  &__icon {
    font-size: 2.4rem;
    color: #4A4A4A;

    &:hover {
      cursor: pointer;
    }
  }

  .cookbooks-list {
    @include scrollbar;

    margin-top: 2rem;
    padding: 0;
    padding-bottom: 4rem;
    flex-grow: 1;
    overflow-y: scroll;
    padding-right: 2rem;

    & > li {
      margin-bottom: 1rem;  
    }

    &__no-list {
      margin-top: 5rem;

      & > img {
        height: auto;
        width: 50%;
        display: block;
        margin: 0 auto;

        & + p {
          font-size: $default-font-size;
          font-weight: 800;
          text-align: center;
        }
      }
    }
  }
}

.addCookbook {
  &__cancel-btn {
    background: none;
    border: none;
    font-size: 2rem;

    &:hover {
      cursor: pointer;
    }
  }

  &__add-btn {
    margin-top: .5rem;
    font-size: 1.4rem;
    background: none;
    border: 1px solid #000;
    border-radius: 2px;

    &:hover {
      cursor: pointer;
    }
  }
}