.resetPassword {
  &__container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 5rem 2rem;

    form > * {
      margin-bottom: 10rem;
    }
  }

  &__heading {
    font-size: 4rem;
    margin-bottom: 10rem;
  }
}