@import '../../sass/variables';

.create-recipe__container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 5rem 2rem;
}

.create-recipe__back-arrow {
  font-size: 4rem;
  margin-bottom: 3rem;
  transition: 100ms color ease;

  &:hover {
    cursor: pointer;
    color: $color-primary;
  }
}

.create-recipe__servings { 
  display: flex;
  align-items: center;

  .servings__button {
    background: none;
    border: none;

    &:hover {
      cursor: pointer;
    }

    & > svg {
      font-size: 3.5rem;
      stroke-width: 1px;

      &:hover {
        color: $color-primary--hover;
      }
    }
  }

  & > p {
    font-size: $default-font-size;
  }
}

.add-input {
  color: $color-primary;
  position: absolute;
  right: 0;
  margin-top: 2rem;
  
  &:hover {
    color: $color-primary--hover;
  }
}

.delete-recipe {
  display: grid;
  place-items: center;

  & > p {
    font-size: $default-font-size;
  }

  &__btn {
    color: red;
  }
}