@import '../../sass/variables';

.create-recipe__container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 5rem 2rem;
}

.create-recipe__back-arrow {
  font-size: 4rem;
  margin-bottom: 3rem;
  transition: 100ms color ease;

  &:hover {
    cursor: pointer;
    color: $color-primary;
  }
}

.add-input {
  color: $color-primary;
  position: absolute;
  right: 0;
  margin-top: 2rem;
  
  &:hover {
    color: $color-primary--hover;
  }
}