
.create-recipe {
  &__section {
    position: relative;
    margin-bottom: 10rem;
  }

  &__input-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    gap: 2rem;
  }

  &__input-step {
    font-size: 1.8rem;
    border: 1.5px solid #000;
    border-radius: 100%;
    height: 4.5rem;
    min-width: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__input {
    width: 100%;

    &--remove {
      position: absolute;
      right: -3rem;
      font-size: 2rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

}