@import '../../../sass/variables';

.requestPasswordReset {
  &__container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 5rem 2rem;

    form > * {
      margin-bottom: 10rem;
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
    
    & > svg {
      font-size: 4rem;
      transition: 100ms color ease;

       &:hover {
        color: $color-primary--hover;
        cursor: pointer;
      }
    }

    & > h1 {
      font-size: 4rem;
    }
  }
}